<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <img alt="AIR logo" src="/images/air-logo.png" />
      <h1 class="text-muted">Be cool. <span class="text-secondary">Share your data your way.</span></h1>
      <div>
        <div class="more-info-text text-info" @click="clickHeroButton()">
          <div class="text">Learn more</div>
          <div class="icon">&darr;</div>
        </div>
      </div>
    </div>
  </div>
  <div class="about-wrapper bg-dark" role="scroll-destination">
    <div class="container">
      <div class="about text-center">
        <h3>Give access to those who need it, and take it away.</h3>
        <p>Sharing your data with AIR is super easy. Upload your health images and data and collaborate with your friends.</p>
      </div>
      <div class="features text-center">
        <div class="row">
          <div class="feature col-sm">
            <div class="icon bg-info">
              <i class="fa fa-list-ul"></i>
            </div>
            <h4>List</h4>
            <p>Upload your images and data and watch them appear to your friends.</p>
          </div>
          <div class="col-sm feature">
            <div class="icon bg-primary">
              <i class="fa fa-heart"></i>
            </div>
            <h4>Share</h4>
            <p>Let your friends know you care by trusting them with your personal data.</p>
          </div>
          <div class="col-sm feature">
            <div class="icon bg-danger">
              <i class="fa fa-handshake-o"></i>
            </div>
            <h4>Collaborate</h4>
            <p>Collaborate with your friends, doctors, and data providers.</p>
          </div>
        </div>
        <a class="btn btn-outline-success mt-5" href="/signup">Join now</a>
      </div>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
